:root {
    --text-color: #503217;
    --black-text-color: #160D05;

    --body-text: #8F7D6A;

    --badge-bg: #D3744A;

    --bg-color: #EEEDE7;

    --border-color: #E8E6DE;

    --color-bg-shade: #E2DFCF;

    --color-bg-card: #F2F2F2;

    --inner-bg-color: #EBE9E0;

    --join-text-color: #6C543E;

    --font-base: "Poppins", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);

    font-family: var(--font-base);
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    line-height: 120%;
}

h5,
h6 {
    font-weight: 500;
    line-height: 150%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5px;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 150%;
    color: var(--body-text);
}

a {
    color: var(--body-text);
}

.container {
    margin: 0 auto;

    --container--r-l-padding: 2em;
    padding: 0 var(--container--r-l-padding);

    max-width: calc(1300px + var(--container--r-l-padding));
    width: 100%;


    position: relative;
    z-index: 1;
}

.background-wrapper {
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
}

#ovarlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 997;
    display: none;
    transition: background 1s ease;
}