.button {
    display: inline-block;

    padding: 12px 20px;

    border-radius: 10px;

    background: var(--text-color);
    color: white;
}

.button p {
    color: white;
}

.button-content {
    display: flex;
    align-items: center;
    gap: 10px;
}