:root {
    --nav-height: 91px;
}

.header {
    background-color: var(--border-color);
    position: relative;
}

.header-section-nav {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999;

    background-color: var(--bg-color);
    box-shadow: 0 0 0 #0F0F10
}

.row.container {
    height: var(--nav-height);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 30px;

    line-height: 150%;
}

.header-nav * {
    color: var(--text-color);
}

.header-nav #pages {
    display: flex;
    justify-content: center;
    gap: 3px;

    cursor: pointer;
}

.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-icons a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.header-icons .cart-icon-pure {
    display: flex;
    position: relative;
    min-width: 30px;
    min-height: 28px;
}

.header-icons .cart-icon-pure .cart-item-count {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 3px;
    right: 3px;
    width: 12px;
    height: 12px;
    border: 1.9px solid var(--text-color);
    border-radius: 50%;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);
}

.header-section-hero {
    margin-top: var(--nav-height);
    padding: 4em 0 7.5em;
    min-height: 900px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-inner-left {
    max-width: 600px;
}

.header-inner-left-text {
    margin-bottom: 60px;
}

.header-inner-left-text h1 {
    width: 100%;
    margin-bottom: 20px;
    font-size: clamp(3rem, 2.368rem + 3.16vw, 5rem);
    line-height: 110%;
}

.header-inner-left-text p {
    max-width: 415px;
}

.header-bg-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;

    opacity: 0.15;
}

#header-section-nav-2 {
    background-color: var(--color-bg-card);
}

#header-section-hero-2 {
    padding: 9.5em 0;

    background-image: image-set(url(../../imgs/header/bg-img.jpg) 1x,
            url(../../imgs/header/bg-img@2x.jpg) 2x);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: contain;
}

#header-section-hero-2 .header-inner-left {
    display: flex;
    align-items: stretch;
    max-width: 707px;
}

.header-inner-left-text-content {
    display: flex;
    gap: 30px;
}

.header-inner-left-text-content img {
    border-radius: 10px;
}

.header-inner-left-text-content .header-btn-wrapper {
    max-width: 374px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

.header-inner-left-text-content .header-btn-wrapper>p {
    color: var(--text-color);
}

.header-inner-left-text-content .header-btn-wrapper .button {
    max-width: fit-content;
}


#header-section-hero-2 .header-inner-left-text {
    margin: 0;
}

#header-section-hero-2 .header-inner-left-text h1 {
    width: 100%;
    margin-bottom: 80px;
    font-size: 4.25rem;
    line-height: 120%;
}

#header-section-hero-2 .header-inner-left-text p {
    max-width: none;
}

#header-section-hero-2 .header-bg-wrapper img {
    left: 207px;
    bottom: 486px;
}

.section-emblems {
    padding: 2em 1.25em;
    background-color: var(--color-bg-shade);
}

.section-emblem-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#header-section-hero-about {
    min-height: 1610px;
    padding: 9.5em 0 8.125em;
    background-color: var(--bg-color);
}

#header-section-hero-about .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 130px
}

#header-section-hero-about .section-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header-section-hero-about .section-hero h2 {
    max-width: 1080px;
    margin-bottom: 60px;
    font-size: 4.375rem;
    line-height: 120%;
    text-align: center;
}

.section-hero-imgs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

.section-hero-imgs {
    width: 100%;
}

.section-hero-imgs img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
}

.section-about-us {
    width: 100%;
    display: flex;
    gap: 106px;
}

.section-about-us h3 {
    width: max-content;
    font-size: 3.625rem;
}

.section-about-us h4 {
    font-size: 2.5rem;
    flex: 2;
}

.section-benefits {
    width: 100%;
}

.section-benefits-grid {
    display: flex;
    justify-content: center;
    gap: 127px
}

.card-benefit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header-bg-wrapper #header-bg-prop-img-2 {
    top: 900px;
    left: 71px;

    transform: rotate(10deg);
}

.header-section-hero#header-section-hero-order {
    background-color: var(--bg-color);
}

#header-section-hero-order .section-hero {
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.section-hero-left {
    min-width: 463px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
}

.section-hero-left img {
    border-radius: 10px;
}

.section-hero-right {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section-hero-right h2 {
    font-size: 4.375rem;
    line-height: 120%;
}

.section-hero-right .discount * {
    color: var(--body-text);
}

.section-hero-right .discount h4 {
    font-size: 3rem;
    line-height: 120%;
}

.section-hero-right .discount p {
    font-weight: 500;
    font-size: 2rem;
    opacity: 0.7;
}

.section-hero-right .justify {
    display: flex;
    gap: 20px;
}

.section-hero-right .justify-quantity {
    max-width: 90px;
    padding: 17px 15px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
    color: var(--text-color);
    border: 2px solid var(--body-text);
    border-radius: 10px;
}

.section-hero-right .justify .button {
    flex: 1;
    max-width: fit-content;
    display: flex;
    align-items: center;
}

.section-hero-right h5 {
    margin-bottom: 20px;
}

.section-hero-right .key-benefits li {
    color: var(--body-text);
}

.section-hero-right .key-benefits li::before {
    content: "•";
    margin: 0 11px;
}

.section-hero-right .key-benefits li:not(:last-of-type) {
    margin-bottom: 20px;
}

.section-rodemap-3-bg-prop {
    right: 0;
    top: 430px;
}

.header-section-hero#header-section-hero-contact {
    padding-top: 170px;
    background-color: var(--bg-color);
}

.section-contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-contact-us-title {
    margin-bottom: 70px;
}

.section-contact-us-title p {
    max-width: 531px;
    text-align: center;
}

.icon-title {
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.section-contact-us .icon-title h2 {
    font-size: 4.375rem;
}

.section-contact-us form {
    width: 856px;
    text-align: center;
}


.section-contact-us form .input-box {
    display: flex;
    justify-content: space-between;
}

.section-contact-us form .input-field {
    width: 48.5%;
    margin-bottom: 40px;
}

.section-contact-us .field .item {
    width: 100%;
    padding: 15px 15px;
    border: 1px solid var(--text-color);
    outline: none;
    border-radius: 10px;
    font-size: 1.125rem;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.section-contact-us .field .item::placeholder {
    background-image: url(../../imgs/header/user-icon.svg);
    background-repeat: no-repeat;
    background-position: center left;
}

.section-contact-us .field .item#name::placeholder {
    background-image: url(../../imgs/header/user-icon.svg);
}

.section-contact-us .field .item#email::placeholder {
    background-image: url(../../imgs/header/envelope-icon.svg);
}

.section-contact-us .field .item#phone::placeholder {
    background-image: url(../../imgs/header/phone-icon-small.svg);
}

.section-contact-us .field .item#message::placeholder {
    background-image: url(../../imgs/header/pen-to-square-icon.svg);
}

.section-contact-us .field-title {
    margin-bottom: 10px;

    text-align: left;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 150%;
}

.section-contact-us form .textrarea-field {
    margin-bottom: 30px;
}

.section-contact-us form .textrarea-field .item {
    resize: none;
}

.section-contact-us form button {
    padding: 11px 32px;
    min-width: 218px;

    background: var(--text-color);
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.section-contact-us form button span {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-bg-card);
}

.close-button-wrapper {
    padding: 0 1em;
    display: none;
    justify-content: center;
    align-items: center;
    height: var(--nav-height);
    width: 100dvw;
    position: fixed;
    top: 0;
    z-index: 997;
    background-color: var(--color-bg-card);
}

.ham-menu {
    display: none;
    min-height: 30px;
    min-width: 30px;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 3px;
    width: 100%;
    background-color: var(--text-color);
    border-radius: 25px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 78%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

#open-sidebar-button {
    display: none;
    margin-left: auto;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
}

#close-sidebar-button {
    display: none;
    justify-content: center;
    align-items: center;
}

#overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    inset: 0;
    z-index: 997;
    display: none;
    transition: background 1s ease;
}


@media (max-width: 800px) {

    .close-button-wrapper {
        display: flex;
    }

    .close-button-wrapper.active~#overlay {
        display: flex;
    }

    #open-sidebar-button,
    #close-sidebar-button {
        display: block
    }

    .header-section-nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);

        background-color: var(--color-bg-card);

        z-index: 998;

        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: right 0.4s ease;
    }

    .header-section-nav.active {
        right: 0;
    }

    .header-section-nav .row.container {
        padding: 1.5em;
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        gap: 20px;
    }

    .row.container .header-nav {
        flex-direction: column;
        align-items: start;
    }

    .ham-menu {
        display: flex;
    }

    .header-logo {
        display: none;
    }
}

@media (max-width: 1800px) {
    .header-section-hero#header-section-hero-2 {
        background-image: none;
    }
}

@media (max-width: 1200px) {
    .header-inner {
        justify-content: center;
    }

    .header-inner-left {
        text-align: center;
    }

    .header-inner-left-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-inner-left-text p {}

    .header-inner-img {
        display: none;
    }

}