.section-reviews-n-forums {
    min-height: 1265px;
    padding: 102px 0 130px;
    position: relative;
}

.section-customers-review {
    margin-bottom: 174px;
}

.section-customers-review-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card-review-inner {
    padding: 21.5px 26.5px;
    margin-bottom: 20px;

    background-color: var(--color-bg-card);
    border-radius: 25px 25px 25px 0;
}

.card-review-inner img {
    margin-bottom: 5px;
}

.customer-2 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.customer-2 .circle {
    width: 60px;
    height: 60px;
    position: unset;

    background-image: none;
    background-repeat: no-repeat;
    background-position: center top;
}

.customer-2#customer-1 .circle {
    background-image: image-set(url(../../imgs/reviews-n-forums/woman-white-shirt-with-her-arms-crossed\ 1.jpg) 1x,
            url(../../imgs/reviews-n-forums/woman-white-shirt-with-her-arms-crossed\ 1@2x.jpg) 2x);
}

.customer-2#customer-2 .circle {
    background-image: image-set(url(../../imgs/reviews-n-forums/woman-with-her-arms-crossed-smiling\ 1.jpg) 1x,
            url(../../imgs/reviews-n-forums/woman-with-her-arms-crossed-smiling\ 1@2x.jpg) 2x);
}

.customer-2#customer-3 .circle {
    background-image: image-set(url(../../imgs/reviews-n-forums/handsome-confident-smiling-man-with-hands-crossed-chest\ 1.jpg) 1x,
            url(../../imgs/reviews-n-forums/handsome-confident-smiling-man-with-hands-crossed-chest\ 1@2x.jpg) 2x);
}

.section-healthcare-insights .section-title {
    text-align: left;
}

.section-healthcare-insights-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 102px;
}

.card-insights {
    display: flex;
    gap: 30px;
}

.card-insights-left {
    display: flex;
    min-width: 302px;
    min-height: 362px;

    background-color: var(--color-bg-card);
    border-radius: 10px;

    background-image: none;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-insights-left#insights-img-1 {
    background-image: image-set(url(../../imgs/reviews-n-forums/pills.jpg) 1x,
            url(../../imgs/reviews-n-forums/pills@2x.jpg) 2x);
}

.card-insights-left#insights-img-2 {
    background-image: image-set(url(../../imgs/reviews-n-forums/women-with-pills.jpg) 1x,
            url(../../imgs/reviews-n-forums/women-with-pills@2x.jpg) 2x);
}

.card-insights-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.date {
    display: flex;
    align-items: center;
    gap: 5px;
}

.date h6 {
    color: var(--body-text);
}

.card-insights-right__last {
    width: max-content;
    margin-top: auto;
    display: flex;
}

.card-insights-right__last {
    color: var(--text-color);
}

.underline {
    position: relative;
}

.underline::after {
    content: '';

    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 0;

    background-color: var(--text-color);
}

.section-reviews-n-forums-bg-prop {
    top: 540px;
    left: 37.5px;

    transform: rotate(16deg);
}